@use "../styles/partials.scss";

.section{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 4rem;
}
.section__container__main {
	min-width: 100%;
    max-width: 100%;;
	border-radius: 20px;
	margin-top: 50px;
	padding: 1rem;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
    background-position: center;
    background-size: cover;
    background-image: url("../assets/backgrounds/earth.jpg");
    background-repeat: none;
	opacity: 0.8;
    text-align: center;
	color: partials.$gold;
	font-family: "Orbitron";
	font-size: 2.2rem;
	font-weight: 400;
	display: block;
	@media screen and (min-width: partials.$screen-computer-min) { 
		width: 1024px;
		background-position: center;
	}
}
.section__container__main:hover {
	box-shadow: 4px 4px 4px #183B54;
	@media screen and (min-width: partials.$screen-tablet-min) { 
		transform: scaleX(1.01) scaleY(1.01) translate(0px, 10px);
	}
}
.animate__text{
	font-size: 2rem;
}
.animate__text:hover{
	transform: scaleX(1.1) scaleY(1.1) translate(50px, 5px);
}