@use "../../styles/partials.scss";

.player {
	background-color: partials.$White;
	margin: 2rem 1rem;
	position: relative;
	text-align: center;
	z-index: 6;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.75);
	border-radius: 0.75rem;
	&__subheader {
		font-family: "Titillium Web";
		padding: 1.5rem;
	}
	&__link {
		& > p {
		font-family: "Titillium Web";
		font-weight: 600;
	}
	}
	&__title {
		@include partials.mPageHeader;
		font-family: "Titillium Web";
		margin-bottom: 1rem;
	}
	&__search {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 1rem;
		&-input {
			padding: 0.5rem;
			border: 0.0625rem solid partials.$Cloud;
			border-radius: 1.25rem;
			&::placeholder {
				font-family: "Titillium Web";
			}
		}
		&-icon {
			position: absolute;
			right: 1rem;
		}
	}
	&__button {
		text-align: center;
		border-radius: 1.25rem;
		padding: 0.5rem;
		width: calc(100% - 1rem);
		background-color: partials.$Indigo;
		& > p {
		color: partials.$White;
		}

		&:hover {
		background-color: partials.$Graphite;
		}
	}

	&__table {
		font-size: 0.8rem;
		width: 20%;
		display: flex;
				align-items: center;
		&--header {
			display: none;
		}
	}
}

.player:hover{
	box-shadow: 0 10px 10px 10px #183B54;
	@media screen and (min-width: partials.$screen-tablet-min) {
		transform: scaleX(1.05) scaleY(1.0) translate(0px, 15px);
	}
}
@media (min-width: partials.$screen-tablet-min) {
  	.player {
		margin: 5rem auto;
		&__subheader {
		display: flex;
		justify-content: space-between;
		padding: 1.375rem 2rem;
		& > div {
			display: flex;
		}
		}
		&__title {
		margin: 0;
		}
		&__search {
		margin: 0;
		}
		&__button {
		margin-left: 1rem;
		}
		&__table {
			&__one {
				padding: 0 0 0 1rem;
			}
			&--header {
				@include partials.dtTableHeader;
				font-family: "Titillium Web";
				background-color: partials.$Light-Grey;
				width: 100%;
				display: flex;
				text-align: left;
				& > th:first-child {
				padding-left: 2rem;
				}
				& > th {
				color: partials.$Slate;
				padding-top: 0.75rem;
				padding-bottom: 0.75rem;
				position: relative;
				& > img {
					position: absolute;
					padding-left: 1rem;
				}
				}
			}
		}
	}
}

@media (min-width: partials.$screen-computer-min) {
    .player {
      	margin: 5rem auto;
    }
}
.leaderboard__logo__container{
  width: 100%;
}
.leaderboard__logo {
    margin-top: 1rem;
    margin-left: 1rem;
    text-align: center;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, partials.$blue , partials.$yellow);
    width: max-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

// input[type="search"]::-webkit-search-decoration,
// input[type="search"]::-webkit-search-results-button,
// input[type="search"]::-webkit-search-results-decoration,
input[type="search"]::-webkit-search-cancel-button 
{
  	-webkit-appearance:none;
}