@use "../../styles/partials";

@mixin tablet {
  @media (min-width: partials.$screen-tablet-min) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: partials.$screen-computer-min) {
    @content;
  }
}

@mixin regular {
  font-family: "Titillium Web";
  font-weight: 400;
  font-style: normal;
}

@mixin demi {
  font-family: "Titillium Web";
  font-weight: 600;
  font-style: normal;
}

h2 {
  padding: 0;
  margin: 0;
}
.addPlayer {
  margin: 2rem 1rem;
  position: relative;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.75);
  // max-width: 395px;
  // padding: 1rem;
  z-index: 1;
  // top: 10rem;
  background: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.75);
  border-radius: 0.75rem;
  padding-top: 1rem;

  @include tablet {
    margin: 5rem 5rem;
    // top: 6rem;
    // padding-top: 2rem;
    // margin-left: 2rem;
    // margin-right: 2rem;
  }
  @include desktop {
    // margin-left: 5rem;
    // margin-right: 5rem;
  }
}
.addPlayer:hover{
  box-shadow: 4px 4px 4px #183B54;
	@media screen and (min-width: partials.$screen-tablet-min) { /* Specific to this particular image */
		transform: scaleX(1.05) scaleY(1.05) translate(0px, 15px);
	}
}
.playerForm {
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 125px;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 0.75rem;

  @include tablet {
    // top: 6rem;
    // left: 2rem;
    // right: 2rem;
  }
  @include desktop {
    // left: 5rem;
    // right: 5rem;
  }

  &__header {
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include tablet {
      padding: 0 2rem 1.3125rem;
    }

    @include desktop {
      padding: 0 4rem 0;
    }

    &--title {
      @include demi;
      padding: 0 0 1rem 1.5rem;
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 0;
      text-align: left;

      @include tablet {
        padding-left: 0;
        padding: 0 2.9rem;
      }

      @include desktop {
        padding-left: 1.5rem;
        font-size: 32px;
        line-height: 40px;
        padding: 0 0 1.15rem 0;
      }
    }

    &--back {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      padding-bottom: 0.8rem;
      position: absolute;
      left: 0;
      @include tablet {
        padding: 0;
        padding-left: 2.25rem;
      }
      @include desktop {
        padding-bottom: 1rem;
        padding-left: 2rem;
      }
    }
  }
  &__details{
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &--left{
      background-color: partials.$Cloud;
      width:90%;
      margin: auto;
      height: 50vh;
      border:2px solid #183B54;
      border-radius: 0.75rem;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.75);
      margin-bottom: 1rem;
      @include tablet {
        width: 43%;
      }
    }

    &--left:hover{
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75); 
    }

    &--right{
      // width:auto;
      background-color: partials.$Cloud;
      box-sizing:border-box;
      border:2px solid #183B54;
      width:90%;
      height: 50vh;
      margin: auto;
      border-radius: 0.75rem;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.75);
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
      padding-bottom: 2rem;
  
      @include tablet {
        width: 43%;
    
      }

    }
    &--right:hover{
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
    }
  }

  &__playerDetails {
    display: flex;
    flex-direction: column;
    // border-bottom: 1px solid partials.$Cloud;
    padding: 1rem 1.5rem;

    @include tablet {
      // width: 45%;
      // border-right: 1px solid partials.$Cloud;
      padding: 0rem 2rem;
      margin: 1.5rem 0rem;
      // border-bottom: 0;
    }

    @include desktop {
      padding: 0rem 2.5rem;
    }
  }


  &__availability {
    display: flex;
    flex-direction: column;
    // padding: 1rem 1.5rem;

    @include tablet {
      width: 45%;
      padding: 0rem 2.5rem;
      padding-bottom: 2rem;
      // padding: 0rem 2rem;
      // margin: 1.5rem 0rem;
    }

    @include desktop {

      padding: 0rem 2.5rem;
      padding-bottom: 2rem;
    }
  }

  &__form-container {
    @include tablet {
      display: flex;
    }
  }

  &__form {
    // border-top: 1px solid partials.$Cloud;

    &--title {
      @include demi;
      size: 20px;
      line-height: 28px;
      padding-bottom: 2rem;

      @include tablet {
        size: 24px;
        line-height: 32px;
      }
    }

    &--label {
      @include demi;
      padding-bottom: 0.25rem;
      font-size: 13px;
      line-height: 20px;

      @include tablet {
        font-size: 14px;
        line-height: 22px;
      }
    }

    &--input {
      background-color: #ffffff;
      border: 1px solid partials.$Cloud;
      border-radius: 0.75rem;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
    }

    &--input:focus {
      border: 2px solid partials.$blue;
      outline: 0;
    }

    &--input::placeholder {
      @include regular;
      font-size: 13px;
      line-height: 20px;
      color: partials.$Slate;

      @include tablet {
        font-size: 14px;
        line-height: 22px;
      }
    }

    &--select {
      appearance: none;
      background-image: url(../../assets/icons/arrow_drop_down-24px.svg);
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: right;
      background-color: #ffffff;
      border: 2px solid partials.$Cloud;
      border-radius: 0.75rem;
      padding: 0.5rem 1rem;
      width: 100%;
    }

    &--select:focus {
      border: 2px solid partials.$blue;
      outline: 0;
    }

    &--time {
      @include desktop {
        width: 7.625rem;
      }
    }
  }

  &__radio {
    display: flex;
    width: 100%;
    justify-content: center;

    &--left {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    &--right {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-left: 35%;

      @include tablet {
        margin-left: 0;
      }
    }

    &--text {
      @include regular;
      font-size: 13px;
      line-height: 20px;
      color: partials.$Slate;

      @include tablet {
        font-size: 14px;
        line-height: 20px;
        margin-right: 2.5rem;
      }
    }

    &--select {
      margin-right: 0.5rem;
    }
  }

  &__buttons {
    background-color: rgba(247, 248, 249, 0.7);
    border-radius: 0.75rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: 1.5rem 2rem;
      justify-content: flex-end;
    }

    @include desktop {
      padding: 1.5rem 2.5rem;
    }
  }

  &__add-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    background: partials.$blue;
    border-radius: 0.75rem;
    font-family: Titillium Web;
    @include demi;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    border: 0;
    width: 47%;

    @include tablet {
      width: fit-content;
    }

    &:hover {
      background-color: partials.$Graphite;
    }
  }

  &__cancel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    background: #ffffff;
    border: 1px solid #bdc5d5;
    box-sizing: border-box;
    border-radius: 0.75rem;
    font-family: Titillium Web;
    @include demi;
    font-size: 13px;
    line-height: 20px;
    color: #5c667e;
    width: 47%;

    @include tablet {
      width: fit-content;
      margin-right: 1rem;
    }
    &:hover {
      border: 0.063rem solid partials.$Indigo;
    }
  }

  &__time-container {
    display: flex;
    flex-direction: column;

    &--hide {
      display: none;
    }
  }

  &__error {
    display: flex;
    align-items: center;

    &--text {
      color: #c94515;
      @include regular;
      font-size: 12px;
      line-height: 18px;
    }

    &--image {
      width: 1rem;
      height: 1rem;
      padding-right: 0.5rem;
    }
  }
}
