@use "../../styles/partials.scss";

@keyframes arrow {
  from {left: 95%;}
  to {left: 105%;}
}

.player {
  &__row {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    height: 10rem;
    padding: 0 1rem 3rem 1rem;
    position: relative;
    border-top: 0.0625rem solid partials.$Cloud;

  }
  &__top {
    display:flex;
    // flex-direction: column;
    justify-content: space-around;
    
}

  &__points {
    & > p {
      max-width: 6rem;
    }
  }
  &__item {
    margin-bottom: 0.55rem;
  }
  &__link {
    position: relative;
    color: partials.$blue;
    display: flex;

    & > img {
      position: absolute;
      margin-top: 14px;
      top: 0.125rem;
      left: 95%;
    }
    &:hover {
      & > img {
        animation-name: arrow;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
      }
    }
  }
  &__status {
      display: flex;
      justify-content: space-evenly;
    & > p {
      margin-bottom: 1rem;
    }
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 2rem);
    bottom: 1rem;
  }
  &__icon {
    &--left {
      cursor: pointer;
    }
    &--right {
      cursor: pointer;
    }
  }
  &__subtitle {
    @include partials.mBodySmall;
    font-family: "Titillium Web";
    color: partials.$Slate;
    margin-bottom: 0.5rem;
  }
  &__item {
    display: flex;
    & > p {
      @include partials.mBodyMedium;
      font-weight: 600;
      font-family: "Titillium Web";
      color: partials.$Indigo;
    }
  }
  &__text {
    @include partials.mBodySmall;
    font-family: "Titillium Web";
    color: partials.$Black;
  }
  &__modal {
    background-color: rgba(35, 41, 64, 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    & > div {
      background-color: partials.$White;
      padding: 1rem;
      width: 100%;
      height: 100%;
      z-index: 100;
      position: fixed;
      top: 0;
      left: 0;
      & > h1 {
        margin-top: 2.75rem;
      }
      & > p {
        width: calc(100% - 2rem);
      }
      & > div {
        width: calc(100% - 2rem);
        position: absolute;
        bottom: 3rem;
      }
    }
    &--icon {
      position: absolute;
      right: 3rem;
      top: 1rem;
      cursor: pointer;
    }
    &--cancel {
      @include partials.mLabelsLinksButtons;
      cursor: pointer;
      padding: 0.5rem 2.75rem;
      background: partials.$White;
      border: 0.0625rem solid partials.$Cloud;
      box-sizing: border-box;
      border-radius: 1.25rem;
      font-family: "Titillium Web";
      font-weight: 600;
      font-style: normal;
      margin-right: 1rem;
      width: calc(50% - 1.5rem);
      color: partials.$Slate;
      &:hover {
        border: 0.0625rem solid partials.$Indigo;
      }
    }
    &--delete {
      @include partials.mLabelsLinksButtons;
      cursor: pointer;
      padding: 0.5rem 2.75rem;
      background: partials.$Red;
      border-radius: 1.25rem;
      font-family: "Titillium Web";
      font-weight: 600;
      font-style: normal;
      width: calc(50% - 1.5rem);
      color: partials.$White;
      border: 0;
      &:hover {
        background: partials.$Graphite;
        outline: 0;
      }
    }
  }
}

@media (min-width: partials.$screen-tablet-min) {
  .player {
    width: 900px;
    &__table--header {
      display: flex;
    }
    &__table__one{
      padding: 0 0 0 2rem;
      width: 18.5%;
    }
    &__row {
        display: flex;
        flex-direction: row;

    //   display: table-row;
        height: auto;
        padding: 0 0 0 0;
    }
    &__top {
        display: flex;
        flex-direction: row;
        width: 80%;
    }
    &__bottom {
        width: 20%;
        display: flex;
        align-items: center;
    }
    &__splitleft {
        display: flex;
        flex-direction: row;
        width: 50%;
    }
    &__splitright {
        display: flex;
        flex-direction: row;
        width: 50%;
    }
    &__item {
      margin: 0;
      
      &:hover {
        text-decoration: underline;
        text-decoration-color: partials.$Indigo;
      }
    }
    &__name {
      min-width: 10rem;
      padding: 1rem 0 1rem 2rem;
    }
    &__time {
      // min-width: 10rem;
      width: 50%;
      padding: 1rem 0;
      padding-left: 1rem;
    }
    &__status {
        min-width: 10rem;
        padding: 1rem 0;
      & > p {
        min-width: 10rem;
        margin-bottom: 0;
      }
    }
    &__status--text {
        min-width: 6rem;
    }
    &__country--name {
        width: 50%;
    //   max-width: 6rem;
      padding: 1rem 0 0 0;
    }
    &__points {
        // min-width: 10rem;
    //   max-width: 6rem;
      width: 50%;
      padding: 1rem 0 1rem 1rem;
    }
    &__subtitle {
      display: none;
      margin: 0;
    }
    &__icons {
      display: table-cell;
      width: auto;
      position: relative;
      bottom: auto;
    }
    &__icon {
      &--left {
      margin-right: 1.5rem;
      }
    }
    &__text {
      @include partials.dtBodyMedium;
    }
    &__modal {
      & > div {
        top: 11.5625rem;
        left: calc(50% - 24rem);
        padding: 2.5rem 4rem;
        width: 42rem;
        height: 16.375rem;
        z-index: 100;
        position: fixed;
        & > h1 {
          margin-top: 0;
        }
        & > p {
          @include partials.dtBodyLarge;
        }
        & > div {
          width: 100%;
          left: calc(100% - 12rem);
        }
      }
      &--icon {
        top: 1.375rem;
        right: 1.375rem;
      }
      &--cancel {
        padding: 0.5rem 0;
        width: 4.5rem;
      }
      &--delete {
        padding: 0.5rem 0;
        width: 4.5rem;
      }
    }
    &__modal {
      & > div {
        top: 8rem;
        left: calc(50% - 26rem);
        padding: 2.5rem 4rem;
        width: 42rem;
        height: 16.375rem;
        z-index: 100;
        position: fixed;
        & > h1 {
          margin-top: 0;
        }
        & > p {
          @include partials.dtBodyLarge;
        }
        & > div {
          width: 100%;
          left: calc(100% - 12rem);
        }
      }
      &--icon {
        top: 1.375rem;
        right: 1.375rem;
      }
      &--cancel {
        padding: 0.5rem 0;
        width: 4.5rem;
      }
      &--delete {
        padding: 0.5rem 0;
        width: 4.5rem;
      }
    }
  }
}

@media (min-width: partials.$screen-computer-min) {
    .player {
      
    width: 900px;
      // &__name {
      //   min-width: auto;
      // }
      // &__points {
      //   max-width: 15rem;
      //   & > p {
      //     max-width: 15rem;
      //   }
      // }
    }
  
}

.rookie {
  width: 5.5rem;
//   color: partials.$Red;
  border-radius: 1rem;
  border-color: transparent;
  background-color: rgba(201, 69, 21, 0.07);
}

.legendary {
  width: 5.5rem;
//   color: partials.$Green;
  border-radius: 1rem;
  border-color: transparent;
  background-color: rgba(21, 132, 99, 0.07);
}

.player__row:hover {
  background-color: rgba(46, 102, 229, 0.07);
}

hr {
  border-collapse: collapse;
}
